pipeline/pl_backfilldate_from_2009_2025.json
{
	"name": "pl_backfilldate_from_2009_2025",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "yearList",
					"value": {
						"value": "@range(pipeline().parameters.startYear, add(pipeline().parameters.endYear,1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(pipeline().parameters.startYear, add(sub(pipeline().parameters.endYear, pipeline().parameters.startYear), 1))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_copy_data_to_zip_financial_data",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"yearList": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"startYear": {
				"type": "int",
				"defaultValue": 2009
			},
			"endYear": {
				"type": "int",
				"defaultValue": 2025
			}
		},
		"variables": {
			"yearList": {
				"type": "Array"
			},
			"quarterArray": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-10T21:21:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}