pipeline/pl_copy_data_to_zip_financial_data.json
{
	"name": "pl_copy_data_to_zip_financial_data",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "quarterArray",
					"value": {
						"value": "@range(1,4)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('quarterArray')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings",
											"preserveZipFileNameAsFolder": false
										}
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_binary_copydata_http_request",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@pipeline().parameters.yearList",
											"type": "Expression"
										},
										"quarter": "@string(item())"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_bianry_copydata_storing_in_zipfinancial",
									"type": "DatasetReference",
									"parameters": {
										"year": {
											"value": "@pipeline().parameters.yearList",
											"type": "Expression"
										},
										"quarter": {
											"value": "@string(item())",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_unzipping_financial_data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"yearList": {
				"type": "int"
			}
		},
		"variables": {
			"quarterArray": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-11T07:17:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}